@model System.Web.Http.Description.IApiExplorer
<head>
    <script src="@Url.Content("Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
    <script src="@Url.Content("Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
</head>
<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">GigaWebSolution - Database Explorer Web API</p>
        </div>
    </div>
</header>
<div id="body">
    <section class="content-wrapper">
           
           @foreach (var api in Model.ApiDescriptions)
           {
               <h5>@api.HttpMethod @api.RelativePath</h5>
               <p>@api.Documentation</p>
               <br/>
           }
            
     </section>
</div>
