@model DatabaseSchemaReader.Website.Model.DatabaseConnection
           
<a id="connectionPanelTrigger" class="trigger" href="#">Connection</a>
<div id="connectionPanel" class="panel">
    <div id="connectionForm">
        @using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "Post", OnComplete = "DisplayTablesList", Url = Url.Action("GetTablesList", "DatabaseExplorer") }))
        {    
            <fieldset>
                @Html.ValidationSummary(true)
                <div>
                    <span class="connectionFormLabel">Database Type</span>
                    @Html.DropDownListFor(x => x.DatabaseType, Model.DatabaseType, "- Select -")
                    @Html.ValidationMessageFor(model => model.DatabaseType)
                </div>

                <div>
                    <span class="connectionFormLabel">Data Source</span>
                    @Html.EditorFor(model => model.DataSource)
                    @Html.ValidationMessageFor(model => model.DataSource)
                </div>
            
                <div>
                    <span class="connectionFormLabel">Database Name</span>
                    @Html.EditorFor(model => model.DatabaseName)
                    @Html.ValidationMessageFor(model => model.DatabaseName)
                </div>
            
                <div>
                    <span class="connectionFormLabel">Username</span>
                    @Html.EditorFor(model => model.Username)
                    @Html.ValidationMessageFor(model => model.Username)
                </div>
            
                <div>
                    <span class="connectionFormLabel">Password</span>
                    @Html.EditorFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            
                <div>
                    <input type="submit" value="Connect" />
                </div>
            </fieldset>
        }
    </div>
    <div id="disconnectForm">
        <input type="submit" value="Disconnect"  onclick="Disconnect();"/>
    </div>
    <div style="clear: both;"></div>
</div>
