@model DatabaseSchemaReader.Website.ViewModels.Register
<div class="section black" id="section5">
    <ul class="nav">
        <li><a href="#section1">Home</a></li>
        <li><a href="#section2">Explorer</a></li>
        <li><a href="#section3">Web Api</a></li>
        <li><a href="#section4">Sign In</a></li>
        <li>Register</li>
    </ul>
    <h2>Register</h2>
    <p class="description">
        Already registred? <a href="#section5" id="registerTrigger" class="blue">Sign In</a>
    </p>
    <div id="register">
        @using (Ajax.BeginForm("Register", "Account", new AjaxOptions { HttpMethod = "Post", OnComplete = "OnCompleteUser", Url = Url.Action("Register", "Account") }))
        {    
            <fieldset>
                @Html.ValidationSummary(true)
                <div>
                    <span class="connectionFormLabel">Email</span>
                    @Html.EditorFor(model => model.Email)
                    <br />
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
                <br />
                <div>
                    <span class="connectionFormLabel">Password</span>
                    @Html.EditorFor(model => model.Password)
                    <br />
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
                <br />
                <div>
                    <span class="connectionFormLabel">Confirm Password</span>
                    @Html.EditorFor(model => model.ConfirmPassword)
                    <br />
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </div>
                <div>
                    <input type="submit" class="floatR" value="Register" />
                </div>
            </fieldset>
        }
    </div>
</div>
