@model DatabaseSchemaReader.Website.ViewModels.Register
<div class="section black" id="section5">
    @Html.Partial("Menu", "Register")
    <h2>Register</h2>
    <p class="description">
        Already registred? <a href="#section5" id="registerTrigger" class="blue">Sign In</a>
    </p>
    <div id="register">
        @using (Html.BeginForm("Register", "Account"))
        {    
            <fieldset>
                @Html.ValidationSummary(true)
                <div>
                    <span class="connectionFormLabel">Email</span>
                    @Html.TextBoxFor(model => model.Email, new { id = "RegisterEmail" })
                    <br />
                    @Html.ValidationMessageFor(model => model.Email, null, new { id = "RegisterEmailErrorMessage" })
                </div>
                <br />
                <div>
                    <span class="connectionFormLabel">Password</span>
                    @Html.TextBoxFor(model => model.Password, new { id = "RegisterPassword" })
                    <br />
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
                <br />
                <div>
                    <span class="connectionFormLabel">Confirm Password</span>
                    @Html.TextBoxFor(model => model.ConfirmPassword, new { id = "RegisterConfirmationPassword" })
                    <br />
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </div>
                <div>
                    <input type="submit" id="ButtonRegister" class="floatR" value="Register" />
                </div>
            </fieldset>
        }
    </div>
</div>
