@model DatabaseSchemaReader.Contract.BusinessObjects.Table
<div class="table component" id="@Model.Name.Replace(" ", "_")">
    <b class="tableName">@Model.Name</b>
    <br />
    <input type='button' class='btnRemove' onclick='restoreToTableList("@Model.Name.Replace(" ", "_")");' title="Remove table @Model.Name"/>
    @Model.Name
    @foreach (var column in Model.Columns)
    {
        @column.Name <b>@(column.InPrimaryKey ? "PK" : string.Empty)</b>
        <br />    
    }
    <br />
    @* 
    @foreach (var foreignKey in Model.ForeignKeys)
    {
        @string.Format("ForeignKeyTableSchema: {0}", foreignKey.ForeignKeyTableSchema)
        <br />
        @string.Format("ForeignKeyTableName  : {0}", foreignKey.ForeignKeyTableName)           
        <br />
        <label>ForeignKeyColumns</label>
        foreach (var foreignKeyColumn in foreignKey.ForeignKeyColumns)
        {
        @string.Format("Name: {0}", foreignKeyColumn.Name)
        <br />
        }
        @string.Format("PrimaryKeyTableName: {0}", foreignKey.PrimaryKeyTableName)
        <br />
        @string.Format("PrimaryKeyTableSchema  : {0}", foreignKey.PrimaryKeyTableSchema)
        <br />
        <label>PrimaryKeysColumns</label>
        foreach (var primaryKeyColumn in foreignKey.PrimaryKeysColumns)
        {
        @string.Format("Name: {0}", primaryKeyColumn.Name)
        <br />
        }
    }
    
    <br />
    <br />
    @foreach (var index in Model.Indexes)
    {
        @string.Format("IndexType     : {0}", index.IndexType)
        <br />
        @string.Format("Name          : {0}", index.Name)
        <br />
        @string.Format("OriginalName  : {0}", index.OriginalName)
        <br />
        @string.Format("Unique        : {0}", index.Unique)
        <br />
        <br />
        <label>
            Columns</label>
        foreach (var indexColumn in index.Columns)
        {
        @string.Format("Name      : {0}", indexColumn.Name)
        <br />
        @string.Format("Descending: {0}", indexColumn.Descending)
        <br />
        }
    }*@
</div>
<br />
